.item{
    display: flex;
    width:330px;
}
.item>:nth-child(1){
    width:70px;
}
.item>:nth-child(2){
    width: 230px;
    height: 20px;
}
.insertContainer{
    margin-left: auto;
    margin-right: auto;
    width: 310px;
}
.insertForm{
    display: flex;
    flex-direction: column;

}

.insertFormContainer{
    height: 48px;
}

.errorMsg{
    color:red;
    text-align: center;
}
.successMsg{
    color:green;
}