.search_allForm>td>input{
    width: 100px;
    padding: 3px;
    border: none;
    cursor: auto;
}
.search_allForm>td>input:focus{
    outline: none;
    cursor: auto;

}

.selected>td>.canWrite{
    border: 1px solid black;
    border-radius: 5px;
    cursor: text;
}
.selected>td>.canWrite:focus{
    border: 2px solid black;
    border-radius: 5px;

    cursor: text;
}
.search_allTitle{
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}