<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/insert.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/delete.css">
    <link rel="stylesheet" href="css/update.css">
    <link rel="stylesheet" href="css/search_all.css">




</head>
<body>
<div class="body">
<div class="main container">
    <div class="main mainItem insert">등록</div>
    <div class="main mainItem search">조회</div>
    <div class="main mainItem update">수정</div>
    <div class="main mainItem delete">삭제</div>
    <div class="main mainItem search_all">전체 조회</div>

</div>
    <section class="displayZone">
    <p class="displayZoneTitle">뷰</p>
    <section class="displayZoneContainer"></section>
    </section>
</div>
<script class="jsZone"></script>
<script>
    //뷰 플래그, 같은 js를 추가하지 않기 위함
    let viewFlag = new Set();
    //{viewArray}_page.html 구현을 위한 배열
    let viewArray=["insert","search","update","delete","search_all"];
    //코드를 줄이기 위해 함수를 만들고 viewArray의 요소를 매개인자로 받으며 배열의 길이만큼 view()실행
    for(i=0;i<viewArray.length;i++){
        view(viewArray[i]);
    }
    let $displayZoneContainer = document.querySelector(".displayZoneContainer");

    function view(str){
        let $menu = document.querySelector("."+str);
        let url = `/${str}_page`;
        let options = {method:"POST"}
        $menu.addEventListener('click',()=>{
            // 이미 불러온 JS는 안 불러오기 위해 (SET) viewFlag에 추가
            console.log(str+"클릭!");
            fetch(url,options)
                .then(res=>res.text())
                .then(res=> {
                    $displayZoneContainer.innerHTML = res;
                    createJS(str);
                    viewFlag.add(str);
                }

        )
                .catch(err=>console.error(err));

        })
    }

    function createJS(str){
        if(!viewFlag.has(str)) {
            let createScript = document.createElement('script');
            createScript.setAttribute('src', `js/${str}.js`);
            document.body.appendChild(createScript);
        }
    }


</script>

</body>
</html>