<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="deleteForm">

    <div>삭제할 상품의 상품번호를 입력하세요.</div>
    <div class="deleteInputSection">
    <label for="pid">상품번호</label>
    <input id="pid" type="text" th:value="${pid}">
        <button type="button" onclick="deleteBtn()">전송</button>
    <div th:text="${inputStatement}"></div>
    </div>
</form>
<form action="">
    <table>
    <tr>
        <th scope="col">상품번호</th>
        <th scope="col">상품이름</th>
        <th scope="col">수량</th>
        <th scope="col">가격</th>
    </tr>
    <tr>
        <form>
        <td th:text="${product?.pid}"></td>
        <td th:text="${product?.pname}"></td>
        <td th:text="${product?.quantity}"></td>
        <td th:text="${product?.price}"></td>
        </form>
    </tr>
    </table>
</form>
<div class="resultMsg resultMsg-Success" th:if="${isSuccess}">상품을 삭제했습니다</div>
<div class="resultMsg resultMsg-Failed" th:if="${isSuccess==false}">삭제할 상품 조회에 실패했습니다.</div>
</body>
</html>